//! **************************************************************************
// Written by: Map P.20131013 on Fri Feb 16 08:34:20 2018
//! **************************************************************************

SCHEMATIC START;
COMP "ram_we_n_o" LOCATE = SITE "M5" LEVEL 1;
COMP "bus_iorq_n_o" LOCATE = SITE "D9" LEVEL 1;
COMP "bus_busack_n_o" LOCATE = SITE "J13" LEVEL 1;
COMP "bus_mreq_n_o" LOCATE = SITE "E10" LEVEL 1;
COMP "ps2_data_io" LOCATE = SITE "J3" LEVEL 1;
COMP "keyb_row_o<0>" LOCATE = SITE "H11" LEVEL 1;
COMP "keyb_row_o<1>" LOCATE = SITE "K11" LEVEL 1;
COMP "keyb_row_o<2>" LOCATE = SITE "L12" LEVEL 1;
COMP "keyb_row_o<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "keyb_row_o<4>" LOCATE = SITE "J12" LEVEL 1;
COMP "keyb_row_o<5>" LOCATE = SITE "K12" LEVEL 1;
COMP "keyb_row_o<6>" LOCATE = SITE "J11" LEVEL 1;
COMP "keyb_row_o<7>" LOCATE = SITE "G12" LEVEL 1;
COMP "hdmi_n_o<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "hdmi_n_o<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "hdmi_n_o<2>" LOCATE = SITE "T6" LEVEL 1;
COMP "hdmi_n_o<3>" LOCATE = SITE "T7" LEVEL 1;
COMP "hdmi_p_o<0>" LOCATE = SITE "N5" LEVEL 1;
COMP "hdmi_p_o<1>" LOCATE = SITE "B5" LEVEL 1;
COMP "hdmi_p_o<2>" LOCATE = SITE "P6" LEVEL 1;
COMP "hdmi_p_o<3>" LOCATE = SITE "R7" LEVEL 1;
COMP "bus_rfsh_n_o" LOCATE = SITE "C11" LEVEL 1;
COMP "ram_addr_o<10>" LOCATE = SITE "C4" LEVEL 1;
COMP "ram_addr_o<11>" LOCATE = SITE "C3" LEVEL 1;
COMP "ram_addr_o<12>" LOCATE = SITE "D3" LEVEL 1;
COMP "ram_addr_o<13>" LOCATE = SITE "E4" LEVEL 1;
COMP "ram_addr_o<14>" LOCATE = SITE "E3" LEVEL 1;
COMP "ram_addr_o<15>" LOCATE = SITE "F2" LEVEL 1;
COMP "ram_addr_o<16>" LOCATE = SITE "F1" LEVEL 1;
COMP "ram_addr_o<17>" LOCATE = SITE "G1" LEVEL 1;
COMP "ram_addr_o<18>" LOCATE = SITE "H2" LEVEL 1;
COMP "bus_wait_n_i" LOCATE = SITE "B16" LEVEL 1;
COMP "ps2_pin2_io" LOCATE = SITE "J4" LEVEL 1;
COMP "ps2_pin6_io" LOCATE = SITE "K6" LEVEL 1;
COMP "i2c_sda_io" LOCATE = SITE "R9" LEVEL 1;
COMP "i2c_scl_io" LOCATE = SITE "T9" LEVEL 1;
COMP "bus_rst_n_io" LOCATE = SITE "M9" LEVEL 1;
COMP "bus_busreq_n_i" LOCATE = SITE "M12" LEVEL 1;
COMP "esp_gpio0_io" LOCATE = SITE "R12" LEVEL 1;
COMP "esp_gpio2_io" LOCATE = SITE "T13" LEVEL 1;
COMP "btn_multiface_n_i" LOCATE = SITE "M7" LEVEL 1;
COMP "csync_o" LOCATE = SITE "D6" LEVEL 1;
COMP "ram_data_io<0>" LOCATE = SITE "J6" LEVEL 1;
COMP "ram_data_io<1>" LOCATE = SITE "L5" LEVEL 1;
COMP "ram_data_io<2>" LOCATE = SITE "K5" LEVEL 1;
COMP "ram_data_io<3>" LOCATE = SITE "M6" LEVEL 1;
COMP "ram_data_io<4>" LOCATE = SITE "P4" LEVEL 1;
COMP "ram_data_io<5>" LOCATE = SITE "R3" LEVEL 1;
COMP "ram_data_io<6>" LOCATE = SITE "T4" LEVEL 1;
COMP "ram_data_io<7>" LOCATE = SITE "N6" LEVEL 1;
COMP "joyp1_i" LOCATE = SITE "R14" LEVEL 1;
COMP "joyp2_i" LOCATE = SITE "T14" LEVEL 1;
COMP "joyp3_i" LOCATE = SITE "R15" LEVEL 1;
COMP "joyp4_i" LOCATE = SITE "P16" LEVEL 1;
COMP "joyp6_i" LOCATE = SITE "P11" LEVEL 1;
COMP "joyp7_o" LOCATE = SITE "T15" LEVEL 1;
COMP "joyp9_i" LOCATE = SITE "P15" LEVEL 1;
COMP "extras_io<0>" LOCATE = SITE "M15" LEVEL 1;
COMP "extras_io<1>" LOCATE = SITE "M16" LEVEL 1;
COMP "extras_io<2>" LOCATE = SITE "N16" LEVEL 1;
COMP "hsync_o" LOCATE = SITE "B10" LEVEL 1;
COMP "audioext_l_o" LOCATE = SITE "B2" LEVEL 1;
COMP "bus_clk35_o" LOCATE = SITE "G11" LEVEL 1;
COMP "audioext_r_o" LOCATE = SITE "A2" LEVEL 1;
COMP "ear_port_i" LOCATE = SITE "A3" LEVEL 1;
COMP "flash_cs_n_o" LOCATE = SITE "T3" LEVEL 1;
COMP "flash_miso_i" LOCATE = SITE "P10" LEVEL 1;
COMP "flash_sclk_o" LOCATE = SITE "R11" LEVEL 1;
COMP "flash_mosi_o" LOCATE = SITE "T10" LEVEL 1;
COMP "bus_addr_o<10>" LOCATE = SITE "D12" LEVEL 1;
COMP "bus_addr_o<11>" LOCATE = SITE "E12" LEVEL 1;
COMP "bus_addr_o<12>" LOCATE = SITE "B8" LEVEL 1;
COMP "clock_50_i" LOCATE = SITE "T8" LEVEL 1;
COMP "bus_addr_o<13>" LOCATE = SITE "A7" LEVEL 1;
COMP "bus_addr_o<14>" LOCATE = SITE "F7" LEVEL 1;
COMP "bus_addr_o<15>" LOCATE = SITE "E7" LEVEL 1;
COMP "vsync_o" LOCATE = SITE "A11" LEVEL 1;
COMP "sd_miso_i" LOCATE = SITE "J1" LEVEL 1;
COMP "sd_sclk_o" LOCATE = SITE "K1" LEVEL 1;
COMP "sd_mosi_o" LOCATE = SITE "K2" LEVEL 1;
COMP "bus_int_n_i" LOCATE = SITE "F10" LEVEL 1;
COMP "bus_ramcs_i" LOCATE = SITE "C16" LEVEL 1;
COMP "bus_nmi_n_i" LOCATE = SITE "E11" LEVEL 1;
COMP "ps2_clk_io" LOCATE = SITE "K3" LEVEL 1;
COMP "btn_reset_n_i" LOCATE = SITE "M11" LEVEL 1;
COMP "ram_addr_o<0>" LOCATE = SITE "M2" LEVEL 1;
COMP "ram_addr_o<1>" LOCATE = SITE "M1" LEVEL 1;
COMP "ram_addr_o<2>" LOCATE = SITE "N1" LEVEL 1;
COMP "ram_addr_o<3>" LOCATE = SITE "P2" LEVEL 1;
COMP "ram_addr_o<4>" LOCATE = SITE "P1" LEVEL 1;
COMP "ram_addr_o<5>" LOCATE = SITE "L3" LEVEL 1;
COMP "ram_addr_o<6>" LOCATE = SITE "M4" LEVEL 1;
COMP "ram_addr_o<7>" LOCATE = SITE "M3" LEVEL 1;
COMP "ram_addr_o<8>" LOCATE = SITE "N4" LEVEL 1;
COMP "ram_addr_o<9>" LOCATE = SITE "N3" LEVEL 1;
COMP "bus_romcs_i" LOCATE = SITE "C15" LEVEL 1;
COMP "ram_ce_n_o<0>" LOCATE = SITE "R2" LEVEL 1;
COMP "ram_ce_n_o<1>" LOCATE = SITE "R1" LEVEL 1;
COMP "ram_ce_n_o<2>" LOCATE = SITE "M10" LEVEL 1;
COMP "ram_ce_n_o<3>" LOCATE = SITE "B3" LEVEL 1;
COMP "audioint_o" LOCATE = SITE "R16" LEVEL 1;
COMP "btn_divmmc_n_i" LOCATE = SITE "L8" LEVEL 1;
COMP "bus_m1_n_o" LOCATE = SITE "D11" LEVEL 1;
COMP "bus_data_io<0>" LOCATE = SITE "D5" LEVEL 1;
COMP "bus_data_io<1>" LOCATE = SITE "C5" LEVEL 1;
COMP "bus_data_io<2>" LOCATE = SITE "C6" LEVEL 1;
COMP "bus_data_io<3>" LOCATE = SITE "C8" LEVEL 1;
COMP "bus_data_io<4>" LOCATE = SITE "E6" LEVEL 1;
COMP "bus_data_io<5>" LOCATE = SITE "D8" LEVEL 1;
COMP "bus_data_io<6>" LOCATE = SITE "C7" LEVEL 1;
COMP "bus_data_io<7>" LOCATE = SITE "A6" LEVEL 1;
COMP "esp_rx_i" LOCATE = SITE "N9" LEVEL 1;
COMP "esp_tx_o" LOCATE = SITE "T12" LEVEL 1;
COMP "bus_addr_o<0>" LOCATE = SITE "A8" LEVEL 1;
COMP "bus_addr_o<1>" LOCATE = SITE "A9" LEVEL 1;
COMP "bus_addr_o<2>" LOCATE = SITE "A10" LEVEL 1;
COMP "bus_addr_o<3>" LOCATE = SITE "E8" LEVEL 1;
COMP "bus_addr_o<4>" LOCATE = SITE "A14" LEVEL 1;
COMP "bus_addr_o<5>" LOCATE = SITE "A13" LEVEL 1;
COMP "bus_addr_o<6>" LOCATE = SITE "B12" LEVEL 1;
COMP "bus_addr_o<7>" LOCATE = SITE "A12" LEVEL 1;
COMP "bus_addr_o<8>" LOCATE = SITE "B14" LEVEL 1;
COMP "bus_addr_o<9>" LOCATE = SITE "F9" LEVEL 1;
COMP "joysel_o" LOCATE = SITE "P9" LEVEL 1;
COMP "bus_rd_n_o" LOCATE = SITE "C9" LEVEL 1;
COMP "bus_wr_n_o" LOCATE = SITE "C10" LEVEL 1;
COMP "mic_port_o" LOCATE = SITE "R5" LEVEL 1;
COMP "sd_cs0_n_o" LOCATE = SITE "L1" LEVEL 1;
COMP "sd_cs1_n_o" LOCATE = SITE "L4" LEVEL 1;
COMP "keyb_col_i<0>" LOCATE = SITE "L7" LEVEL 1;
COMP "keyb_col_i<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "keyb_col_i<2>" LOCATE = SITE "N8" LEVEL 1;
COMP "keyb_col_i<3>" LOCATE = SITE "P7" LEVEL 1;
COMP "keyb_col_i<4>" LOCATE = SITE "T5" LEVEL 1;
COMP "rgb_b_o<0>" LOCATE = SITE "B1" LEVEL 1;
COMP "rgb_b_o<1>" LOCATE = SITE "C2" LEVEL 1;
COMP "rgb_b_o<2>" LOCATE = SITE "H1" LEVEL 1;
COMP "bus_iorqula_n_i" LOCATE = SITE "F12" LEVEL 1;
COMP "rgb_g_o<0>" LOCATE = SITE "F4" LEVEL 1;
COMP "rgb_g_o<1>" LOCATE = SITE "F3" LEVEL 1;
COMP "rgb_g_o<2>" LOCATE = SITE "G3" LEVEL 1;
COMP "rgb_r_o<0>" LOCATE = SITE "H4" LEVEL 1;
COMP "rgb_r_o<1>" LOCATE = SITE "H3" LEVEL 1;
COMP "rgb_r_o<2>" LOCATE = SITE "H5" LEVEL 1;
COMP "bus_halt_n_o" LOCATE = SITE "B15" LEVEL 1;
COMP "ram_oe_n_o" LOCATE = SITE "E1" LEVEL 1;
TIMEGRP "FFS" = FFS(*);
TIMEGRP "PADS" = PADS(*);
TSF2P = MAXDELAY FROM TIMEGRP "FFS" TO TIMEGRP "PADS" 20 ns;
SCHEMATIC END;

